.apps{
  margin-left: 200px;
  border: 10px;

}

.Email{
  margin-top: 100px;
  margin-left: 200px;
  color: cadetblue;
  box-sizing: border-box;

}

.pass{
  margin-top: 50px;
  margin-left: 200px;
}

.button{
  margin-top: 100px;
  margin-left: 200px;
}


